@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
    --main-font-family:"Quattrocento Sans";
    --main-color: #707070;
  }

  body{
      color: var(--main-color);
  }

/* Header */
#header-navbar {
    width: 100vw;
    height: 50px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    
}
.brand {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.brand img{
    height: 30px;
    width: 40px;
}
.brand span {
    font-family: Dancing Script;
    font-size: 1.2rem;
    white-space: normal;
    font-weight: bold;
    padding: 0px;
    margin-top: 0;
}
.header-title {
    /* background-color: antiquewhite; */
    font-family: var(--main-font-family);
    padding-bottom: 10px;
}

.navigation-links {
   margin: 0;
   padding-left: 10px;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   overflow: hidden;
   margin-right: 20px;
   
}
.navigation-links li {
   /* background-color: whitesmoke; */
   height: 100%;
   font-size: 1.2rem;
   font-family: var(--main-font-family);
   margin-left: 2px;
   padding: 14px;
 
}
.navigation-links li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.navigation-links a {
    text-decoration: none;
    color: var(--main-color);

}


/* Content */
.content {
    width:100vw;
    min-height:100vh;
    background-color: whitesmoke;
    margin-top: 2px;

}
.container {
    background-color: blanchedalmond;
    padding:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
}
iframe {
    margin:10px;
}
