@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
    --main-font-family:"Quattrocento Sans";
    --main-color: #707070;
  }
  html {
    scroll-padding-top: 100px;
  }

  body{
      color: var(--main-color);
      scroll-behavior: smooth;
  }

/* Header */
#header-navbar {
    position: relative;
    top: 0;
    width: 100vw;
    height: 50px; 
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    border: 1px solid #fff;
    
}
.brand {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.brand img{
    height: 30px;
    width: 40px;
}
.brand p {
    font-family: Dancing Script;
    font-size: 1.2rem;
    white-space: normal;
    font-weight: bold;
    padding: 0px;
    margin-top: 0;
}
.header-title {
    font-family: var(--main-font-family);
    padding-bottom: 10px;
}

.navigation-links {
   margin: 0;
   padding-left: 10px;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   overflow: hidden;
   margin-right: 20px;   
}
.navigation-links li {
   height: 100%;
   font-size: 1.2rem;
   font-family: var(--main-font-family);
   margin-left: 2px;
   padding: 14px;
}
.navigation-links li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.navigation-links a {
    text-decoration: none;
    color: var(--main-color);

}
#btnNav {
    margin-right: 50px;
    display: none;
}
/* Content */
#content {
    width:100vw;
    min-height:100vh;
    background-color: whitesmoke;
    margin-top: 10px;
    overflow: scroll;
}

/* sort */
#nav-filter {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
#filter{
    position: relative;
    height: 50px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.filter-section {
 background-color: white;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 width: fit-content;
 margin: 5px;
 border-radius: 10px;
 padding: 0 15px;
}
.filter-section span{
    font-size: 1.2rem;
    padding: 9px;
    font-family: var(--main-font-family);
}
.filter-section option{
   display: block;
   width: 100%;
}
.filter-section option:hover {
    background-color: whitesmoke;
}
#search {
    margin-right: 50px;
    height: 40px;
    padding: 22px 13px 0 13px;
    overflow: hidden;
}
#search input {
    width: 250px;
    height: 40px;    
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
}
#search button {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: white;
}
#search button:hover{
    filter: brightness(70%);
}

#pdf-cards {  
    padding:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
   
}
 iframe {
    margin:10px;
    width: 500px;
    height: 400px;

}
#pdf-cards h4{
    margin-top: 0;
    text-transform: uppercase;
}

 .topics {
     list-style: none;
     max-width: 500px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.topics li {
    display: inline-block;
    background-color: rgb(49, 175, 175);
    color: #fff;
    font-family: var(--main-font-family);
    margin: 2px 5px;
}
#pdf-cards a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(29, 100, 175);
}
#pdf-cards a:hover {
    font-size: 1.2rem;
    text-decoration: underline;
    color: rgb(209, 32, 32);
}


/* footer */
footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(43, 42, 41);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
    font-size: 1.3rem;
}



/* Media Queries for smaller screens */

@media screen and (max-width: 1660px){
    #nav-filter {
        justify-content: center;
    }
    #search input {
        width: 400px;
       
    }
}
@media screen and (max-width: 1200px) {
    
    .navigation-links {
        display: none;
    }
    #filter {
        display: none;
    }
    #btnNav {
        /* background-color: rgb(253, 231, 231); */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
        margin-top: 5px;
        cursor: pointer;
    }
    #btnNav:hover {
        filter: contrast(50%);
    }
   
    #nav-filter {
        justify-content: center;
    }
    #search {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


@media screen and (max-width: 600px) {
    #header-navbar {
        height: 36px;
        margin-top: 0;
        padding-top:0;
    }
    .brand {
      display: none;
    }
    
    .header-title {
        font-family: var(--main-font-family);
        font-size: 0.8rem;
    ;
    }
    #btnNav {
        width: 40px;
        height: 100%;
        margin-top: 2px;
        margin-right: 20px;
    }
    #search input {
        width: 200px;
       
    }

}

@media screen and (max-width: 500px) {
    iframe {
        width: 100vw;
        height: 300px;
    }
    .header-title {
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
    }
}
